.features {
  display: flex;
  flex-direction: column; /* Подходит для вертикального расположения секции. Убедитесь, что это уместно для вашей разметки */
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  gap: 1.5rem; /* Добавляет расстояние между элементами секции */
}

.featureImg {
  height: 250px; /* Устанавливает фиксированную высоту */
  width: 250px; /* Устанавливает фиксированную ширину */
  object-fit: contain; /* Гарантирует, что изображение масштабируется, сохраняя пропорции */
  border-radius: 10px; /* Добавляет небольшие скругленные углы */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Добавляет легкую тень для визуального акцента */
  transition: transform 0.3s ease; /* Добавляет плавный эффект при наведении */
}

.featureImg:hover {
  transform: scale(1.05); /* Увеличивает изображение при наведении */
}
